 @import url('https://fonts.googleapis.com/css2? family= Peralta & display=swap');
body { 
     width: auto ;
     height:  auto;;
     margin-left: auto;
     margin: 0px;
     background-color: #FFF3D4;
}
.sign_up { 
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    background-color: #D9D9D9;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 18px ;
    margin-left: 20px;
    
}
    .sign_up:hover { 
        color:darkorange;
        background-color: #bababa;
    }
.courses { 
    margin-left: 10px;
}
h3 { 
    margin-left: 10px;
}
 li { 
    margin-top: 20px;
    font-size: 20px;
 }


 
 
    .dopinfo { 
        border: 4px solid black;
        border-radius: 30px;
        width: 250px;
        padding: 15px 20pz;
        padding-bottom: 10px;
        float: right;
        margin-top:00px;
        
       
         
        
    }
    header { 
        border-bottom: 10px solid black;
        width: 1260px;
        height: 430px;
        background: url("https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG9ubGluZSUyMCUyMHdvcmslMjAlMjB0ZWFjaGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60") no-repeat ;
        background-size: 1260px 650px;
    }
    
     
    footer { 
         background-color: #AAAAAA;
         margin-top: 45px;
         height: 65px;
         padding: 15px;
         margin-top: 80px;
    }
     .number{ 
        text-decoration: none;
        color: black;
        font-size: 15px;
        margin-left:20px;
        border: 2px inset  goldenrod;
        border-radius: 20px ;
        padding: 7px;
        background-color: #AAAAAA; 
        width:170px ;
        height:170px ;
        margin-: 45px;
    }
     
    .number:focus { 
        color:#ededed;
    }
     

       
         
         

       
    .mail{ 
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin-left: 35px;
        margin-top: 15px;
         
    }
    .mail:focus { 
        color:#ededed;
    }
    footer a{ 
        display: flex;
        justify-content: flex-start;
    }
    .othercount { 
        margin-top:  25px;
    }
    .world { 
        width:45px ;
        height: 45px;
        margin-left:  10px;
         margin-top: auto;

    }
     article { 
        display: flex;
     }
     .sertifikat { 
        width: 250px;
        height: 290px;
        float: right;
         margin-top: 25px  ;
         margin-right: 140px;
        border: 3px solid grey;
     
     }
     .number:hover { 
        color:darkorange;
     }
     .mail:hover { 
        color:darkorange;
     }
     .gallery { 
        display: flex;
        border-bottom: 3px solid black ;
        margin-bottom: 20px;
        justify-content:  center;
     }
     .p1 { 
        margin: 15px;
        display: flex;
        justify-content: flex-start;
        font-size: 70px;
        
     }
     .gallery img { 
        width: 270px;
        height: 267px;
        margin: 15px;
        
    }
    .about_t{
        text-align: center;
        
    }
    .teacher{ 
        font-size: 40px;
        border:  4px solid burlywood;
        padding: 5px;
        border-radius: 9px;
    }
    .info_teacher img{ 
        width: 220px;
        height: 270px;
        margin-left: 40px; 
        border: 5px groove burlywood;
    }
    .container_serine{ 
        display: flex;
        justify-content: flex-start;
        margin-right: 115px;
    }
    .serineapresyan{ 
        font-size: 30px;
        margin-left: 15px;
        margin-top: 0px;
    }
    .end { 
         display:flex ;
         justify-content: space-around;
         margin-top: 60px;
    }
    .intersted { 
        text-align: center;
    }
    .h2_interest { 
        border: 4px groove burlywood;
        width: 300px;
        padding: 10px;
        border-radius: 9px;
    }
    .callme { 
        border: 4px groove burlywood;
        width: 100px;
        padding: 7px;
        border-radius: 4px;
        margin-left: 570px;
    }
     
    .strelka { 
        margin-left: 585px;
        width:65px ;
        height:65px ;
    }
    .p2{
        display: flex;
        justify-content: flex-start;
        font-size: 40px;
        margin-top: 50px;
        margin-left: 17px;
    }
    .p3{   
        display: flex;
        justify-content: flex-start; 
         margin-top: 15px;
         margin-left: 13px;
    }
    .p4{  
        display: flex;
        justify-content: flex-end; 
        font-size: 40px;
        margin-top: 52px;
        margin-left: 18px;
    }
    h5 { 
        font-size: 40px;
        margin-top: 13px;
    }
    .p1,.p3 { 
        margin-top: 50px;
    }
    .advantage { 
        text-align: center;
        font-size: 40px;
         
        margin-top: 45px;
        
        margin-bottom: 0px;
    }
    .advantage-class {
         border: 4px solid burlywood;
         padding: 7px;
         border-radius: 9px;
        
        }
        .call { 
            text-decoration: none;
            color: black;
        }
        .nav  span { 
            border : 3px solid burlywood;
            background-color: cornsilk;
            border-radius: 12px;
            
             margin-left: 100px;
            width: 100px;
            text-decoration: none;
            color: black;
            padding:3px;
            margin-top: 15px;
            padding-left: 6px;
            padding-right: 6px;
        }
          nav span:hover{ 
            color: chocolate;
        } 
         .nav2 { 
            position: absolute ;
              padding-right: 3px;
        }
        nav { 
            position: relative ;
            left: 55px;
            top: 2px;
        }
        .nav1 { 
              position: absolute ;
              left: 150px;
        }
        
   

    
   
    
        
